<br>
 <h3>Informações Sobre Praga do Plantio <%=params[:plantio_id]%></div></h3>
<div class="container">

  <div class="row">
    <div class="col-1 bg-success text-white">Tipo</div>
	<div class="col-3 bg-success text-white">Semente</div>
	<div class="col-2 bg-success text-white">Praga</div>
	<div class="col-2 bg-success text-white">Inicio</div>
	<div class="col-2 bg-success text-white">Fim</div>
	<div class="col-2 bg-success text-white">Solução</div>
    <div class="w-100"></div>
 
    <% @praga.each do |praga|  %>
		<div class="col-1"><%=praga.tipo_semente%></div>
		<div class="col-3"><%=praga.nome_conhecido%></div>
		<div class="col-2"><%=praga.nome%></div>
		<div class="col-2"><%=formato_data_hora(praga.data_inicio)%></div>
		<div class="col-2"><%=formato_data_hora(praga.data_fim)%></div>
		 <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Praga</a>
		<p>
 
 <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <table>
          <tr>
           <td class="bg-success text-white">Inseticida  </td>
           <td class="bg-success text-white">Descricao</td>
           <td class="bg-success text-white">Aplicação</td>
          </tr> 
          <body>
            <%@praga_inseticida = PragaInseticidaView.where("praga_id=:praga_id",{praga_id:praga.praga_id}).all%>
            <% @praga_inseticida.each do |praga_inseticida|%>
            <tr>
             <td><b><%=praga_inseticida.nome%></b></td>
             <td><%=praga_inseticida.descricao%></td>
             <td><%=praga_inseticida.tempo_aplicacao%></td>
    	    </tr>
           <%end%>
          </body>
        </table>            
      </div>
    </div>
  </div>
</div>
  
 
</p>

		<div class="w-100"></div>
    <%end%>
  </div>

</div>    
<script>
$('.collapse').collapse()
</script>