<br>
<% @plantio.each do |plantio| %> 
<div class="card border-success mx-auto" style="max-width: 50rem;">
  <div class="card-header"> <b>Plantio <%=plantio.id%></b>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <b>Responsável: </b> <%=plantio.usuario%> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<b>Data Plantio: </b><%=formato_data_hora(plantio.data_plantio)%> 
 </div>
    <div class="card-body">
      <% 
         @detalhes = PlantioDetalhesView.where("id =:plantio_id",{plantio_id:plantio.id}).all
         @detalhes.each do |detalhe|
       %>          
      <p class="card-text"><b>Semente</b>: <%=detalhe.nome_conhecido%>   <b>Total:</b><%=detalhe.qtd_semente%>  </p>
      <%end%>
    </div>
      <%= link_to 'Detalhes', semente_plantio_path(:plantio_id=>plantio.id),  class: 'btn btn-success text-white'%>                         
    </div>
 </div>
 <br>
<%end%>
                        
          
