<%= form_for(semente) do |f| %>
  <% if semente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semente.errors.count, "error") %> prohibited this semente from being saved:</h2>

      <ul>
      <% semente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kenia %>
    <%= f.number_field :kenia %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
