
<br>
 <h3>Informações Sobre Plantio <%=params[:plantio_id]%></div></h3>
<div class="container">

  <div class="row">
    <div class="col-1 bg-success text-white">Id</div>
	<div class="col-1 bg-success text-white">Tipo</div>
	<div class="col-3 bg-success text-white">Semente</div>
	<div class="col-2 bg-success text-white">Nome Científico</div>
	<div class="col-1 bg-success text-white">Latitude</div>
	<div class="col-1 bg-success text-white">Longitude</div>
	<div class="col-3 bg-success text-white"></div>
    <div class="w-100"></div>
    <% @semente.each do |semente|  %>
		<div class="col-1"><%=semente.id%></div>
		<div class="col-1"><%=semente.tipo_semente%></div>
		<div class="col-3"><%=semente.nome_conhecido.strip%></div>
		<div class="col-2"><%=semente.nome_cientifico.strip%></div>
		<div class="col-1"><%=semente.latitude%></div>
		<div class="col-1"><%=semente.longitude%></div>
		<div class="col-3"> <%= link_to 'Ciclo', semente_plantio_path(:plantio_id=>semente.id),  class: 'btn btn-info'%>
		<%= link_to 'Irrigação', semente_plantio_path(:plantio_id=>semente.id),  class: 'btn btn-info'%>
		<%= link_to 'Praga', semente_plantio_path(:plantio_id=>semente.id),  class: 'btn btn-info'%> </div>
        <div class="w-100"></div>
    <%end%>
  </div>
</div>              
          

